<div class="text-center">
  <div class="clearfix">
    <h3 class="font-weight-bold float-left">{{ 'AVVISI' | translate }}</h3>
    <button (click)="nextStep()" class="btn btn-outline-primary btn-sm float-right" type="button">
      {{ 'STATO_CARICAMENTI' | translate }}
    </button>
  </div>
  <div class="border border-secondary rounded box" #box>
    <form class="boxinside" method="post" action="" enctype="multipart/form-data">
      <div class="upload-dragdrop-image">
        <img src="/assets/img/upload-drag-drop-icon.svg" alt="imagealt" aria-hidden="true" />
        <div class="upload-dragdrop-loading">
          <div id="divProgress0" class="upload-progress"></div>
        </div>
        <div class="upload-dragdrop-success">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="/assets/img/sprite.svg#it-check"></use>
          </svg>
        </div>
      </div>
      <div class="upload-dragdrop-text">
        <h5>{{ 'TRASCINA_CSV' | translate }}</h5>
        <p>
          {{ 'OPPURE' | translate }}
          <input
            type="file"
            name="upload7"
            id="upload7"
            class="upload-dragdrop-input"
            (change)="upload($event)"
          /><label for="upload7">{{ 'SELECT_DISPOSITIVO' | translate }}</label>
        </p>
      </div>
      <input value="Submit" type="submit" class="d-none" />
    </form>
  </div>
</div>

<br />
<p>
  {{ 'AVVISI_FILE_ESEMPIO1' | translate }}
  <a href="javascript:void(0)" (click)="downloadCsvTemplate()">{{ 'AVVISI_FILE_ESEMPIO2' | translate }}</a>
</p>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#modalUpload" #btnContentUpload />
<div class="modal fade" role="dialog" id="modalUpload">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
      </div>
      <div class="modal-body">
        <p>{{ modalBody }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>
