.upload-dragdrop-image
  margin-top: 50px
  margin-bottom: 50px

.upload-dragdrop-text
  text-align: left

.box
  margin-top: 40px

img
  max-width: 150px
  max-height: 150px

.boxinside
  display: inline-flex
  align-items: center

.resize img
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.85)
  transform: translateX(-50%) translateY(-50%) scale(0.85)
