<div class="text-center">
  <div class="clearfix">
    <h3 class="font-weight-bold float-left">{{ 'CARICA_POSIZIONI_DEBITORIE' | translate }}</h3>
    <button (click)="nextStep()" class="btn btn-outline-primary btn-sm float-right" type="button">
      {{ 'STATO_CARICAMENTI' | translate }}
    </button>
  </div>
  <div class="border border-secondary rounded box" #box>
    <!-- <p><button type="button" class="btn btn-primary" onClick="testAnimation()">Simula Upload</button></p>

    <form class="upload-dragdrop" method="post" action="" enctype="multipart/form-data" id="uploadChangeStateTarget">
      <div class="upload-dragdrop-image">
        <img src="/assets/img/csv_upload.png" alt="imagealt" aria-hidden="true" />
        <div class="upload-dragdrop-loading">
          <div id="divProgress2" class="upload-progress"></div>
        </div>
        <div class="upload-dragdrop-success">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
          </svg>
        </div>
      </div>
      <div class="upload-dragdrop-text">
        <p class="upload-dragdrop-weight">
          <svg class="icon icon-xs" aria-hidden="true">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
          </svg>
          PDF (3.7MB)
        </p>
        <h5 id="simTitle">Trascina il file per caricarlo</h5>
        <p id="simText">
          oppure <input type="file" name="upload8" id="upload8" class="upload-dragdrop-input" /><label for="upload8"
            >selezionalo dal dispositivo</label
          >
        </p>
      </div>
      <input value="Submit" type="submit" class="d-none" />
    </form> -->

    <form class="boxinside" method="post" action="" enctype="multipart/form-data" #uploadChangeStateTarget>
      <div class="upload-dragdrop-image">
        <img src="/assets/img/upload-drag-drop-icon.svg" alt="imagealt" aria-hidden="true" #image1 />
        <div class="upload-dragdrop-loading">
          <div id="divProgress0" class="upload-progress"></div>
        </div>
        <div class="upload-dragdrop-success">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="/assets/img/sprite.svg#it-check"></use>
          </svg>
        </div>
      </div>
      <div class="upload-dragdrop-text">
        <h5>{{ 'TRASCINA_CSV' | translate }}</h5>
        <p>
          {{ 'OPPURE' | translate }}
          <input
            type="file"
            name="upload7"
            id="upload7"
            class="upload-dragdrop-input"
            (change)="upload($event)"
          /><label for="upload7">{{ 'SELECT_DISPOSITIVO' | translate }}</label>
        </p>
      </div>
      <input value="Submit" type="submit" class="d-none" />
      <!-- <div class="mt-5 ml-3 text-left">
          <h4 class="font-weight-bold">{{ 'TRASCINA_CSV' | translate }}</h4>
          <span class="">{{ 'OPPURE' | translate }} </span>
          <input type="file" name="upload8" id="upload8" class="upload-dragdrop-input" (change)="upload($event)" />
          <label for="upload8">{{ 'SELECT_DISPOSITIVO' | translate }}</label>
        </div>
      </div>
      <input value="Submit" type="submit" class="d-none" /> -->
    </form>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" #btncontent1 />
<div class="modal fade" role="dialog" id="myModal1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'ALERT_TITLE_MAX_ROWS' | translate }}</h5>
      </div>
      <div class="modal-body">
        <p>{{ 'ALERT_MAX_ROWS1' | translate }}{{ maxrows }}{{ 'ALERT_MAX_ROWS2' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" #btncontent2 />
<div class="modal fade" role="dialog" id="myModal2">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ 'ALERT_GENERIC' | translate }} {{ rownumber }}</p>
        <p>{{ 'FIELD' | translate }} {{ field }} {{ 'OBBLIGATORIO' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" #btncontent3 />
<div class="modal fade" role="dialog" id="myModal3">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ 'ALERT_GENERIC' | translate }} {{ rownumber }}</p>
        <p>{{ 'FIELD' | translate }} {{ field }} {{ 'MAX_LENGTH' | translate }} {{ maxlength }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal4" #btncontent4 />
<div class="modal fade" role="dialog" id="myModal4">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ 'ALERT_GENERIC' | translate }} {{ rownumber }}</p>
        <p>{{ 'FIELD' | translate }} {{ field }} {{ 'NOT_VALID_FORM' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal5" #btncontent5 />
<div class="modal fade" role="dialog" id="myModal5">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ 'FILE_NOT_VALID' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">{{ 'RIPROVA' | translate }}</button>
      </div>
    </div>
  </div>
</div>
