<div class="text-center">
  <form name="spid_idp_access" method="post" accept-charset="ISO-8859-1">
    <a
      href="#"
      class="italia-it-button italia-it-button-size-l button-spid"
      spid-idp-button="#spid-idp-button-large-post"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="italia-it-button-icon"><img src="../../../assets/img/spid-ico-circle-bb.svg" alt="Spid" /></span>
      <span class="italia-it-button-text">{{ 'LOGIN_SPID_ENTRA' | translate }}</span>
    </a>
    <div id="spid-idp-button-large-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
      <ul id="spid-idp-list-large-root-post" class="spid-idp-button-menu" aria-labelledby="spid-idp">
        <li class="spid-idp-button-link" *ngFor="let p of providers.identityProviders">
          <button class="idp-button-idp-logo" type="button" (click)="onGetAuthSpid(p.entityId)">
            <input class="spid-sr-only" readonly [value]="p.identifier" />
            <img [src]="p.imageUrl" [alt]="p.name" />
          </button>
        </li>
        <li class="spid-idp-support-link" *ngFor="let e of providers.extraInfo">
          <a [href]="e.url">{{ e.title }}</a>
        </li>
      </ul>
    </div>
  </form>
  <br />
  <p>{{ 'LOGIN_SPID_TEXT1' | translate }}</p>
  <p>
    {{ 'LOGIN_SPID_TEXT2' | translate
    }}<a href="{{ spidServeAiuto }}" target="_blank">{{ 'LOGIN_SPID_TEXT3' | translate }}</a
    >{{ 'LOGIN_SPID_TEXT4' | translate }}
  </p>
  <p>
    {{ 'LOGIN_SPID_TEXT5' | translate }}<a href="{{ 'mailto:' + supportMail }}" target="_blank">{{ supportMail }}</a
    >{{ 'LOGIN_SPID_TEXT4' | translate }}
  </p>
</div>
