<div
  class="notification with-icon"
  [ngClass]="notificationService.notification.isError ? 'error' : 'success'"
  role="alert"
  id="app-notification"
>
  <h5>
    <svg class="icon">
      <use *ngIf="!notificationService.notification.isError" xlink:href="/assets/img/sprite.svg#it-check-circle"></use>
      <use *ngIf="notificationService.notification.isError" xlink:href="/assets/img/sprite.svg#it-close-circle"></use>
    </svg>
    {{ notificationService.notification.title }}
  </h5>
  <p>{{ notificationService.notification.message }}</p>
</div>
