<div class="alert alert-info" role="alert">
  {{ 'ALERT_AVVISI_POST' | translate }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row">
  <div class="app-fit-content">
    <h3>{{ 'POSITIONS' | translate }}</h3>
  </div>
  <div class="app-fit-content" style="margin-left: auto">
    <ng-container *ngIf="filterModel.dateFrom === undefined && filterModel.dateTo === undefined">
      <div class="chip chip-simple chip-lg" (click)="datecheckswitch(false)">
        <span class="chip-label">{{ 'DATE' | translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!(filterModel.dateFrom === undefined && filterModel.dateTo === undefined)">
      <div class="chip chip-simple chip-lg">
        <span class="chip-label" (click)="datecheckswitch(false)">{{ getChipDates() }}</span>
        <button (click)="datecheckswitch(true)">
          <svg class="icon icon-primary">
            <use xlink:href="/assets/img/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
    </ng-container>
  </div>
  <div class="app-fit-content">
    <ng-container *ngIf="filterModel.status === undefined">
      <div class="chip chip-simple chip-lg" (click)="statuscheckswitch(false)">
        <span class="chip-label">{{ 'STATUS' | translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!(filterModel.status === undefined)">
      <div class="chip chip-simple chip-lg">
        <span class="chip-label" (click)="statuscheckswitch(false)">{{
          getBadgeText(filterModel.status) | translate
        }}</span>
        <button (click)="statuscheckswitch(true)">
          <svg class="icon icon-primary">
            <use xlink:href="/assets/img/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
    </ng-container>
  </div>
  <div class="app-fit-content">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'CERCA_CF' | translate }}"
        [(ngModel)]="filterModel.textSearch"
        (blur)="onBlurTextSearch()"
        (keyup.enter)="onBlurTextSearch()"
      />
      <div class="input-group-prepend">
        <div class="input-group-text">
          <svg class="icon icon-sm icon-secondary">
            <use xlink:href="/assets/img/sprite.svg#it-search"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="counter">{{ rowstart }}-{{ rowend }} {{ 'OF' | translate }} {{ totalItems }}</div>
<nav class="pagination-wrapper justify-content-end" aria-label="Navigazione allineata a destra" *ngIf="totalPages > 0">
  <div class="pagination">
    <a class="pagelink" tabindex="-1" aria-hidden="true" [routerLink]="" (click)="passleft()">
      <svg class="icon icon-primary" [ngClass]="{ disable: currentPage === 0 || totalPages === 0 }">
        <use xlink:href="/assets/img/sprite.svg#it-arrow-left"></use>
      </svg>
    </a>

    <a
      class="pagelink"
      [ngClass]="{ pagesel: currentPage + 1 === page1, disable: page1 > totalPages }"
      [routerLink]=""
      (click)="pass(page1)"
      >{{ page1 }}</a
    >

    <a
      class="pagelink"
      [ngClass]="{ pagesel: currentPage + 1 === page2 }"
      *ngIf="page2 <= totalPages"
      [routerLink]=""
      (click)="pass(page2)"
      >{{ page2 }}</a
    >

    <a
      class="pagelink"
      [ngClass]="{ pagesel: currentPage + 1 === page3 }"
      *ngIf="page3 <= totalPages"
      [routerLink]=""
      (click)="pass(page3)"
      >{{ page3 }}</a
    >

    <a
      class="pagelink"
      [ngClass]="{ pagesel: currentPage + 1 === page4 }"
      *ngIf="page4 <= totalPages"
      [routerLink]=""
      (click)="pass(page4)"
      >{{ page4 }}</a
    >

    <a
      class="pagelink"
      [ngClass]="{ pagesel: currentPage + 1 === page5 }"
      *ngIf="page5 <= totalPages"
      [routerLink]=""
      (click)="pass(page5)"
      >{{ page5 }}</a
    >
    <a class="pagelink" [routerLink]="" (click)="passright()">
      <svg class="icon icon-primary" [ngClass]="{ disable: currentPage === totalPages - 1 || totalPages === 0 }">
        <use xlink:href="/assets/img/sprite.svg#it-arrow-right"></use>
      </svg>
    </a>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ 'CF' | translate }}</th>
      <th scope="col">{{ 'DATE' | translate | uppercase }}</th>
      <th scope="col">{{ 'STATUS' | translate | uppercase }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of payments; let i = index">
      <td class="tdcheck">
        <div class="form-check">
          <!--TODO disabilitato-->
          <input id="checkbox1" type="checkbox" disabled />
          <label for="checkbox1" class="labcheck disabled"></label>
        </div>
      </td>
      <td>
        <div>
          <strong>{{ elem.fiscalCode }}</strong>
          <br />
          <small class="text-muted">{{ elem.name }} {{ elem.surname }}</small>
        </div>
      </td>
      <td>
        {{ elem.date | date: 'dd/MM/yyyy' }}
      </td>
      <td>
        <span class="badge app-display-block" [ngClass]="getBadgeClass(elem.status)">{{
          getBadgeText(elem.status) | translate
        }}</span>
      </td>
      <td class="align-middle tdicon">
        <svg class="icon disable app-disabled">
          <!--TODO disabilitato-->
          <use xlink:href="/assets/img/sprite.svg#it-download"></use>
        </svg>
        <svg class="icon icon-primary app-cursor-pointer" (click)="openDetail(elem.id)">
          <use xlink:href="/assets/img/sprite.svg#it-info-circle"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center" *ngIf="payments.length === 0">
  <br />
  <p>{{ 'NESSUN_ELEMENTO' | translate }}</p>
  <button
    (click)="resetAllFilters()"
    class="btn btn-outline-primary btn-sm d-none d-lg-block col-md-2 offset-5"
    type="button"
  >
    {{ 'REIMPOSTA_TUTTO' | translate }}
  </button>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" #btncontent1 />
<div class="modal fade" role="dialog" id="myModal1">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'FILTRA_PER_STATO' | translate }}</h5>
      </div>
      <div class="modal-body">
        <div class="form-check" aria-describedby="">
          <input name="gruppo1" [value]="statusEnum.BOZZA" type="radio" id="radio1" [(ngModel)]="filterModel.status" />
          <label for="radio1">{{ 'BOZZA' | translate }}</label>
        </div>
        <div class="form-check" aria-describedby="">
          <input
            name="gruppo1"
            [value]="statusEnum.PUBBLICATO"
            type="radio"
            id="radio2"
            [(ngModel)]="filterModel.status"
          />
          <label for="radio2">{{ 'PUBBLICATO' | translate }}</label>
        </div>
        <div class="form-check" aria-describedby="">
          <input name="gruppo1" [value]="statusEnum.PAGATO" type="radio" id="radio3" [(ngModel)]="filterModel.status" />
          <label for="radio3">{{ 'PAGATO' | translate }}</label>
        </div>
        <div class="form-check" aria-describedby="">
          <input
            name="gruppo1"
            [value]="statusEnum.PAGATO_PARZIALE"
            type="radio"
            id="radio4"
            [(ngModel)]="filterModel.status"
          />
          <label for="radio4">{{ 'PAGATO_PARZIALE' | translate }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="primary-color left" (click)="resetstato()">{{ 'REIMPOSTA_FILTRO' | translate }}</div>
        <button class="btn btn-primary btn-sm right" data-dismiss="modal" type="button" (click)="closestato()">
          {{ 'OK' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" #btncontent2 />
<div class="modal fade" role="dialog" id="myModal2">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'FILTRA_PER_DATA' | translate | uppercase }}</h5>
      </div>
      <div class="modal-body">
        <div class="it-datepicker-wrapper">
          <div class="form-group">
            <input
              class="form-control it-date-datepicker"
              id="startdate"
              type="date"
              [(ngModel)]="filterModel.dateFrom"
              max="{{ maxDate }}"
            />
            <label for="startdate">{{ 'DATE_FROM' | translate }}</label>
          </div>
        </div>
        <div class="it-datepicker-wrapper">
          <div class="form-group">
            <input
              class="form-control it-date-datepicker"
              id="enddate"
              type="date"
              [(ngModel)]="filterModel.dateTo"
              max="{{ maxDate }}"
            />
            <label for="enddate">{{ 'DATE_TO' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="primary-color left" (click)="resetdata()">{{ 'REIMPOSTA_FILTRO' | translate }}</div>
        <button class="btn btn-primary btn-sm right" data-dismiss="modal" type="button" (click)="closedata()">
          {{ 'OK' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" #btncontent3 />
<div class="modal fade" role="dialog" id="myModal3">
  <div class="modal-dialog modal-dialog-centered app-modal-xxl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'DETTAGLIO_AVVISO' | translate }}</h3>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="icon icon-primary icon-lg">
            <use xlink:href="/assets/img/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless">
          <tr>
            <td>
              <table class="table table-borderless">
                <tr>
                  <td>
                    <small class="text-muted">{{ 'DESTINATARIO' | translate }}</small>
                    <br />
                    <strong>{{ modalDetail.nominative }}</strong>
                  </td>
                  <td>
                    <small class="text-muted">{{ 'CODICE_FISCALE' | translate }}</small>
                    <br />
                    <strong>{{ modalDetail.fiscalCode }}</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <small class="text-muted">{{ 'INDIRIZZO' | translate }}</small>
                    <br />
                    <strong>{{ modalDetail.addressLine1 }}</strong>
                    <br />
                    <strong>{{ modalDetail.addressLine2 }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <small class="text-muted">{{ 'OGGETTO_PAGAMENTO' | translate }}</small>
                    <br />
                    <strong>{{ modalDetail.description }}</strong>
                  </td>
                  <td>
                    <span class="badge right" [ngClass]="getBadgeClass(modalDetail.status)">{{
                      getBadgeText(modalDetail.status) | translate
                    }}</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="detailright">
              <button class="btn btn-primary btn-sm btndetail disabled app-disabled" type="button">
                {{ 'PUBBLICA' | translate }}
              </button>
              <button class="btn btn-primary btn-sm btndetail disabled app-disabled" type="button">
                {{ 'ANTEPRIMA' | translate }}
              </button>
              <p class="app-disabled">{{ 'ELIMINA_AVVISO' | translate }}</p>
              <!--TODO disabilitato-->
              <!--<button class="btn btn-primary btn-sm btndetail" type="button">{{ 'PUBBLICA' | translate }}</button>
              <button class="btn btn-outline-primary btn-sm btndetail" type="button">
                {{ 'ANTEPRIMA' | translate }}
              </button>
              <a href="javascript:void(0)" class="text-danger">{{ 'ELIMINA_AVVISO' | translate }}</a>-->
            </td>
          </tr>
        </table>
        <table class="table table-borderless">
          <tbody>
            <ng-container *ngFor="let elem of modalDetail.installments; let i = index">
              <tr>
                <td>
                  <strong *ngIf="elem.isConclusive">{{ 'PAGAMENTO_UNICO' | translate }}</strong>
                  <strong *ngIf="!elem.isConclusive">{{ 'RATA' | translate }} {{ i + 1 }}</strong>
                </td>
                <td>
                  <small class="text-muted">{{ 'IMPORTO_EUR' | translate }}</small>
                  <br />
                  <strong>{{ getFormattedCurrency(elem.amount) }}</strong>
                </td>
                <td>
                  <small class="text-muted">{{ 'CODICE_AVVISO' | translate }}</small>
                  <br />
                  <strong>{{ getFormattedNotificationCode(elem.notificationCode) }}</strong>
                </td>
                <td>
                  <small class="text-muted">{{ 'ENTRO' | translate }}</small>
                  <br />
                  <strong>{{ getFormattedDate(elem.dueDate) }}</strong>
                </td>
                <td>
                  <span class="badge app-display-block" [ngClass]="getBadgeClassOption(elem.status)">{{
                    getBadgeTextOption(elem.status) | translate
                  }}</span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
