<div class="alert alert-info" role="alert">
  PRESTO POTRAI PUBBLICARE E POSTALLIZARE I TUOI AVVISI.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table style="width: 100%">
  <tr>
    <td>
      <h3>Posizioni</h3>
    </td>
    <td style="width: 150px">
      <div class="chip chip-simple">
        <span class="chip-label">Data</span>
      </div>
    </td>
    <td style="width: 150px">
      <div class="chip chip-simple">
        <span class="chip-label">Stato</span>
      </div>
    </td>
    <td style="width: 200px">
      <div class="form-group autocomplete-wrapper">
        <span class="autocomplete-icon" aria-hidden="true">
          <svg class="icon icon-sm"><use xlink:href="/assets/img/sprite.svg#it-search"></use></svg>
        </span>
        <input
          type="search"
          class="autocomplete"
          placeholder="Cerca CF o codice avviso"
          id="autocomplete-regioni"
          data-autocomplete='[{"text":"Abruzzo","link":"#"},{"text":"Basilicata","link":"#"},{"text":"Calabria","link":"#"},{"text":"Campania","link":"#"},{"text":"Emilia Romagna","link":"#"},{"text":"Friuli Venezia Giulia","link":"#"},{"text":"Lazio","link":"#"},{"text":"Liguria","link":"#"},{"text":"Lombardia","link":"#"},{"text":"Marche","link":"#"},{"text":"Molise","link":"#"},{"text":"Piemonte","link":"#"},{"text":"Puglia","link":"#"},{"text":"Sardegna","link":"#"},{"text":"Sicilia","link":"#"},{"text":"Toscana","link":"#"},{"text":"Trentino Alto Adige","link":"#"},{"text":"Umbria","link":"#"},{"text":"Valle d’Aosta","link":"#"},{"text":"Veneto","link":"#"}]'
        />
        <label for="autocomplete-regioni" class="sr-only">Cerca nel sito</label>
      </div>
    </td>
  </tr>
</table>
<nav class="pagination-wrapper justify-content-end" aria-label="Navigazione allineata a destra">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-hidden="true">
        <svg class="icon icon-primary">
          <use xlink:href="/assets/img/sprite.svg#it-arrow-left"></use>
        </svg>
        <span class="sr-only">Pagina precedente</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <span class="sr-only">Pagina successiva</span>
        <svg class="icon icon-primary">
          <use xlink:href="/assets/img/sprite.svg#it-arrow-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">CF</th>
      <th scope="col">CODICE AVVISO</th>
      <th scope="col">DATA</th>
      <th scope="col">STATO</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of listPosition; let i = index">
      <td>
        <div class="form-check">
          <input id="checkbox1" type="checkbox" />
          <label for="checkbox1"></label>
        </div>
      </td>
      <td>
        <div>
          <p>{{ elem.fiscalCode }}</p>
          <p>{{ elem.name }} {{ elem.surname }}</p>
        </div>
      </td>
      <td>
        {{ elem.notifyCode }}
      </td>
      <td>
        {{ elem.date | date: 'dd/MM/yyyy' }}
      </td>
      <td>
        <div>Bozza</div>
      </td>
      <td class="align-middle">
        <svg class="icon icon-sm"><use xlink:href="/assets/img/sprite.svg#it-download"></use></svg>
        <svg class="icon icon-sm"><use xlink:href="/assets/img/sprite.svg#it-info-circle"></use></svg>
      </td>
    </tr>
  </tbody>
</table>
