th
  font-size: medium

td
  vertical-align: middle

.disable
  fill: #C3CFDB !important
  color: #C3CFDB !important

.counter
  position: absolute
  float: left
  margin-top: 20px

.chip
  font-size: medium

.chip button
  margin-right: 8px

.pagesel
  color: #000000

.pagelink
  display: flex
  align-items: center
  justify-content: center
  height: 2.5rem
  min-width: 1.5rem
  border-radius: 4px
  border: none
  font-size: .88889rem
  font-weight: 600
  background-color: transparent

.modal-title
  margin-bottom: 20px

.modal-footer
  display: block

.left
  float: left
  cursor: pointer
  font-size: medium
  margin-top: 10px

.right
  float: right

.labcheck
  margin: 0

.tdcheck
  width: 75px

.tdicon
  width: 100px

.alert-info
  background-color: #ffffff
  border-left: 8px solid #06c

.detailright
  text-align: center
  justify-content: center
  width: 50px

.btndetail
  margin: 10px
  width: 150px

table
  width: 100%
