<div class="text-center">
  <h3>{{ 'PER_INIZIARE_AVVISI' | translate }}</h3>
  <p>{{ 'PER_INIZIARE_AVVISI_DETTAGLI' | translate }}</p>
  <button
    (click)="nextStep()"
    class="btn btn-outline-primary btn-sm steppers-btn-next steppers-btn-confirm d-none d-lg-block col-md-2 offset-5"
    type="button"
  >
    {{ 'CARICA_CSV' | translate }}
  </button>
</div>
<!--TODO bozza del primo step-->
<div class="container test-docs">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="notification with-icon success dismissable" role="alert" aria-labelledby="not2dms-title" id="not2dms">
        <h5 id="not2dms-title">
          <svg class="icon icon-success"><use xlink:href="/assets/img/sprite.svg#it-check-circle"></use></svg
          >{{ notifica.title }}
        </h5>
        <p>{{ notifica.message }}</p>
        <button type="button" class="btn notification-close">
          <svg class="icon icon-secondary"><use xlink:href="/assets/img/sprite.svg#it-close"></use></svg>
        </button>
      </div>
    </div>
  </div>
</div>
