<div class="it-header-wrapper app-header-margin">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="#">PagoPA S.p.A.</a>
            <div class="nav-mobile" *ngIf="canShowSecureComponents()">
              <nav>
                <div class="link-list-wrapper collapse">
                  <ul class="link-list">
                    <li>
                      <a
                        class="list-item"
                        (click)="goToPage(menuEnum.AIUTO_PATH)"
                        [ngClass]="{ active: isPathActive(menuEnum.AIUTO_PATH) }"
                        >{{ menuEnum.AIUTO_CODE | translate }}</a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone" *ngIf="canShowSecureComponents()">
              <div class="it-access-top-wrapper">
                <button type="button" class="btn btn-primary btn-sm ml-1" (click)="logout()">
                  {{ 'ESCI' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="#">
                  <div class="it-brand-text">
                    <h2 class="no_toc">Portale TARI/TEFA</h2>
                    <h3 class="no_toc d-none d-md-block" *ngIf="canShowSecureComponents()">Comune di Controguerra</h3>
                    <!--TODO-->
                  </div>
                </a>
              </div>
              <div class="it-right-zone" *ngIf="canShowSecureComponents()">
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">{{ menuEnum.GUIDA_CODE | translate }}</span>
                  <a
                    class="search-link rounded-icon"
                    (click)="goToPage(menuEnum.GUIDA_PATH)"
                    [ngClass]="{ active: isPathActive(menuEnum.GUIDA_PATH) }"
                  >
                    <svg class="icon">
                      <use xlink:href="/assets/img/sprite.svg#it-files"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper" *ngIf="canShowSecureComponents()">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <div class="navbar-collapsable" style="display: none">
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item" [ngClass]="{ active: isPathActive(menuEnum.TRIBUTI_PATH) }">
                      <a
                        class="nav-link"
                        (click)="goToPage(menuEnum.TRIBUTI_PATH)"
                        [ngClass]="{ active: isPathActive(menuEnum.TRIBUTI_PATH) }"
                        ><span>{{ menuEnum.TRIBUTI_CODE | translate }}</span></a
                      >
                    </li>
                    <li class="nav-item" [ngClass]="{ active: isPathActive(menuEnum.AVVISI_PATH) }">
                      <a
                        class="nav-link"
                        (click)="goToPage(menuEnum.AVVISI_PATH)"
                        [ngClass]="{ active: isPathActive(menuEnum.AVVISI_PATH) }"
                        ><span>{{ menuEnum.AVVISI_CODE | translate }}</span></a
                      >
                    </li>
                    <li class="nav-item" [ngClass]="{ active: isPathActive(menuEnum.AVVISI_PATH) }">
                      <a
                        class="nav-link"
                        (click)="goToPage(menuEnum.IMPOSTAZIONI_PATH)"
                        [ngClass]="{ active: isPathActive(menuEnum.IMPOSTAZIONI_PATH) }"
                      ><span>{{ menuEnum.IMPOSTAZIONI_CODE | translate }}</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
