<form [formGroup]="formGroup">
  <div>
    <h2>{{ 'CONFIGURA_TRIBUTO' | translate }}</h2>
  </div>

  <div class="steppers">
    <ul class="steppers-header">
      <li class="confirmed">
        <span class="steppers-number"
          ><svg class="icon steppers-success"><use xlink:href="/assets/img/sprite.svg#it-check"></use></svg></span
        >{{ 'STEP1' | translate }}
      </li>
      <li class="active no-line"><span class="steppers-number">2</span>{{ 'STEP2' | translate }}</li>
      <li><span class="steppers-number">3</span>{{ 'STEP3' | translate }}</li>
    </ul>

    <div>
      <div class="form-group row">
        <div class="col-11">
          <h4>{{ 'PAGAMENTO_UNICO' | translate }}</h4>
          <p>
            {{ 'PAGAMENTO_UNICO_DETTAGLI' | translate }}
            <a href="#">{{ 'SCOPRI' | translate }}</a>
          </p>
        </div>
        <div class="form-check col-1">
          <div class="toggles">
            <label for="abilitaUnica">
              <input type="checkbox" id="abilitaUnica" [formControlName]="'abilitaUnica'" />
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="f.abilitaUnica.value">
        <div class="col-5">
          <div class="form-group">
            <label for="dueDateUnique" class="active">{{ 'SCADENZA' | translate }}</label>
            <input type="date" class="form-control" id="dueDateUnique" [formControlName]="'dueDateUnique'" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-11">
          <h4>{{ 'PAGAMENTO_RATE' | translate }}</h4>
          <p>
            {{ 'PAGAMENTO_RATE_DETTAGLI' | translate }}
            <a href="#">{{ 'SCOPRI' | translate }}</a>
          </p>
        </div>
        <div class="form-check col-1">
          <div class="toggles">
            <label for="abilitaRate">
              <input type="checkbox" id="abilitaRate" [formControlName]="'abilitaRate'" />
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="f.abilitaRate.value" formArrayName="installments">
        <div class="form-group row">
          <div class="col-7"></div>
          <div class="col-2">
            {{ 'TARI' | translate }}
            <svg class="icon icon-success" *ngIf="getPercentageLeft(true) === 0">
              <use xlink:href="/assets/img/sprite.svg#it-check-circle"></use>
            </svg>
            <svg class="icon icon-warning" *ngIf="getPercentageLeft(true) !== 0">
              <use xlink:href="/assets/img/sprite.svg#it-warning-circle"></use>
            </svg>
            <p>{{ 'RIMANENTE' | translate }}: {{ getPercentageLeft(true) }}%</p>
          </div>
          <div class="col-2">
            {{ 'TEFA' | translate }}
            <svg class="icon icon-success" *ngIf="getPercentageLeft(false) === 0">
              <use xlink:href="/assets/img/sprite.svg#it-check-circle"></use>
            </svg>
            <svg class="icon icon-warning" *ngIf="getPercentageLeft(false) !== 0">
              <use xlink:href="/assets/img/sprite.svg#it-warning-circle"></use>
            </svg>
            <p>{{ 'RIMANENTE' | translate }}: {{ getPercentageLeft(false) }}%</p>
          </div>
        </div>
        <div *ngFor="let _ of installments.controls; let i = index">
          <div class="form-group row" [formGroupName]="i">
            <div class="col-2">
              <svg
                class="icon icon-danger app-cursor-pointer"
                *ngIf="installments.length > 2 && installments.length === i + 1"
                (click)="removeInstallment(i)"
              >
                <use xlink:href="/assets/img/sprite.svg#it-delete"></use>
              </svg>
              {{ 'RATA' | translate }} {{ i + 1 }}
            </div>
            <div class="col-5">
              <label for="dueDate" class="active">{{ 'SCADENZA' | translate }}</label>
              <input type="date" class="form-control" id="dueDate" formControlName="dueDate" />
            </div>
            <div class="col-2">
              <label for="percentagePrimary" class="active">% {{ 'QUOTA_TARI' | translate }}</label>
              <span class="input-number input-number-adaptive">
                <input
                  type="number"
                  id="percentagePrimary"
                  name="percentagePrimary"
                  min="0"
                  max="100"
                  step="0.01"
                  formControlName="percentagePrimary"
                />
                <button class="input-number-add" (click)="addPercentage(i, true)"></button>
                <button class="input-number-sub" (click)="removePercentage(i, true)"></button>
              </span>
            </div>
            <div class="col-2">
              <label for="percentageSecondary" class="active">% {{ 'QUOTA_TEFA' | translate }}</label>
              <span class="input-number input-number-adaptive">
                <input
                  type="number"
                  id="percentageSecondary"
                  name="percentageSecondary"
                  min="0"
                  max="100"
                  step="0.01"
                  formControlName="percentageSecondary"
                />
                <button class="input-number-add" (click)="addPercentage(i, false)"></button>
                <button class="input-number-sub" (click)="removePercentage(i, false)"></button>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="installments.length < 10">
          <svg class="icon icon-danger app-cursor-pointer" (click)="addInstallment()">
            <use xlink:href="/assets/img/sprite.svg#it-plus-circle"></use>
          </svg>
          {{ 'AGGIUNGI_RATA' | translate }}
        </div>
      </div>
    </div>

    <nav class="steppers-nav">
      <button (click)="prevStep()" class="btn btn-outline-primary btn-sm steppers-btn-prev" type="button">
        {{ 'INDIETRO' | translate }}
      </button>
      <button
        (click)="nextStep()"
        class="btn btn-primary btn-sm steppers-btn-next steppers-btn-confirm d-none d-lg-block"
        type="button"
        [disabled]="!this.ifFormValid()"
      >
        {{ 'CONTINUA' | translate }}
      </button>
    </nav>
  </div>
</form>
