<form [formGroup]="formGroup">
  <h3 class="text-center">{{ 'RICHIESTA_SUPPORTO' | translate }}</h3>
  <br />
  <div class="form-group row">
    <div class="col-12">
      <label for="id1">{{ 'IL_COMUNE_DI' | translate }}</label>
      <input type="text" class="form-control" id="id1" formControlName="municipality" />
      <small class="form-text error-label" *ngIf="submitted && f.municipality.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <label for="id2">{{ 'REGIONE' | translate }}</label>
      <input type="text" class="form-control" id="id2" formControlName="region" />
      <small class="form-text error-label" *ngIf="submitted && f.region.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
    <div class="col-3">
      <label for="id3">{{ 'PROVINCIA_DI' | translate }}</label>
      <input type="text" class="form-control" id="id3" formControlName="province" maxlength="2" />
      <small class="form-text error-label" *ngIf="submitted && f.province.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
    <div class="col-3">
      <label for="id4">{{ 'PEC' | translate }}</label>
      <input type="text" class="form-control" id="id4" formControlName="certifiedMail" />
      <small class="form-text error-label" *ngIf="submitted && f.certifiedMail.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
      <small class="form-text error-label" *ngIf="f.certifiedMail.errors?.email || f.certifiedMail.errors?.pattern">{{
        'MAIL_NON_VALIDA' | translate
      }}</small>
    </div>
    <div class="col-3">
      <label for="id5">{{ 'CELLULARE' | translate }}</label>
      <input type="text" class="form-control" id="id5" formControlName="telephoneMunicipality" />
      <small class="form-text error-label" *ngIf="submitted && f.telephoneMunicipality.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
  </div>
  <h5 class="text-center">{{ 'NELLA_PERSONA_DI' | translate }}</h5>
  <br />
  <div class="form-group row">
    <div class="col-4">
      <label for="id6">{{ 'NOME_COGNOME' | translate }}</label>
      <input type="text" class="form-control" id="id6" formControlName="fullName" />
      <small class="form-text error-label" *ngIf="submitted && f.fullName.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
    <div class="col-4">
      <label for="id7">{{ 'MAIL_NON_CERTIFICATA' | translate }}</label>
      <input type="text" class="form-control" id="id7" formControlName="email" />
      <small class="form-text error-label" *ngIf="submitted && f.email.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
      <small class="form-text error-label" *ngIf="f.email.errors?.email || f.email.errors?.pattern">{{
        'MAIL_NON_VALIDA' | translate
      }}</small>
    </div>
    <div class="col-4">
      <label for="id8">{{ 'CELLULARE' | translate }}</label>
      <input type="text" class="form-control" id="id8" formControlName="telephone" />
      <small class="form-text error-label" *ngIf="submitted && f.telephone.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
  </div>
  <h5 class="text-center">{{ 'CHIEDE_DI_ESSERE_CONTATTATO' | translate }}</h5>
  <div class="row">
    <div class="col-6">
      <div class="form-check form-check-group">
        <input
          name="typeContact"
          type="radio"
          id="radio1"
          formControlName="typeContact"
          [value]="typeContactValues.TELEPHONE"
        />
        <label for="radio1">{{ 'TELEFONICAMENTE' | translate }}</label>
      </div>
      <div class="form-check form-check-group">
        <input
          name="typeContact"
          type="radio"
          id="radio2"
          formControlName="typeContact"
          [value]="typeContactValues.CALL"
        />
        <label for="radio2">{{ 'CALL_CONFERENZE' | translate }}</label>
      </div>
    </div>
    <div class="col-6" *ngIf="!isPlatformCallDisabled()">
      <div class="form-check form-check-group">
        <input
          name="platformCall"
          type="radio"
          id="radio3"
          formControlName="platformCall"
          [value]="platformCallValues.TEAMS"
        />
        <label for="radio3">{{ 'TEAMS' | translate }}</label>
      </div>
      <div class="form-check form-check-group">
        <input
          name="platformCall"
          type="radio"
          id="radio4"
          formControlName="platformCall"
          [value]="platformCallValues.GOOGLE"
        />
        <label for="radio4">{{ 'GOOGLE' | translate }}</label>
      </div>
      <div class="form-check form-check-group">
        <input
          name="platformCall"
          type="radio"
          id="radio5"
          formControlName="platformCall"
          [value]="platformCallValues.SKYPE"
        />
        <label for="radio5">{{ 'SKYPE' | translate }}</label>
      </div>
    </div>
  </div>
  <br />
  <div class="form-group row">
    <div class="col-6">
      <label for="date1" class="active">{{ 'DATA_ASSISTENZA' | translate }}</label>
      <input
        type="date"
        class="form-control"
        id="date1"
        formControlName="dateRequest"
        min="{{ today | date: 'yyyy-MM-dd' }}"
      />
      <small class="form-text error-label" *ngIf="submitted && f.dateRequest.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
    <div class="col-6 bootstrap-select-wrapper" id="select1">
      <label>{{ 'ORA' | translate }}</label>
      <select
        title="Scegli una opzione"
        data-live-search="true"
        data-live-search-placeholder="Cerca opzioni"
        formControlName="timeRequest"
      >
        <option value="8:30-9:00">8:30-9:00</option>
        <option value="9:00-9:30">9:00-9:30</option>
        <option value="9:30-10:00">9:30-10:00</option>
        <option value="10:00-10:30">10:00-10:30</option>
        <option value="10:30-11:00">10:30-11:00</option>
        <option value="11:00-11:30">11:00-11:30</option>
        <option value="11:30-12:00">11:30-12:00</option>
        <option value="12:00-12:30">12:00-12:30</option>
        <option value="12:30-13:00">12:30-13:00</option>
        <option value="13:00-13:30">13:00-13:30</option>
        <option value="13:30-14:00">13:30-14:00</option>
        <option value="14:00-14:30">14:00-14:30</option>
        <option value="14:30-15:00">14:30-15:00</option>
        <option value="15:00-15:30">15:00-15:30</option>
        <option value="15:30-16:00">15:30-16:00</option>
        <option value="16:00-16:30">16:00-16:30</option>
        <option value="16:30-17:00">16:30-17:00</option>
        <option value="17:00-17:30">17:00-17:30</option>
        <option value="17:30-18:00">17:30-18:00</option>
      </select>
      <small class="form-text error-label" *ngIf="submitted && f.timeRequest.errors?.required">{{
        'REQUIRED_FIELD' | translate
      }}</small>
    </div>
  </div>
  <button (click)="invia()" class="btn btn-primary btn-sm d-none d-lg-block col-md-2 offset-5" type="button">
    {{ 'INVIA' | translate }}
  </button>
</form>
